---
import GlowCard from "@/components/GlowCard.astro";
import { cardsData } from "./data.js";
---

<section class="py-12 lg:pt-20 lg:pb-48 max-w-screen-2xl mx-auto">
  <div>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
      {
        cardsData.cards.map((card) => (
          <GlowCard class="p-10">
            <article>
              <div class="space-y-4 flex-grow">
                <p class="text-white leading-relaxed text-[20px]">{card}</p>
              </div>
            </article>
          </GlowCard>
        ))
      }
    </div>
  </div>
</section>
