---
import { messagesData } from './data.js';
---

<section class="w-full py-16 lg:py-24 ">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="text-left mb-12">
      <h2 class="text-3xl lg:text-4xl font-bold text-neutral-100 mb-4">
        Mensajes y dedicatoria
      </h2>
    </div>

    <div class="marquee-container relative overflow-hidden mask-gradient-lr">
      <div
        class="marquee-track flex gap-6 animate-marquee"
        style="width: calc(200% + 1.5rem)"
      >
        <!-- First set of messages -->
        <div class="flex gap-6 min-w-0 shrink-0">
          {messagesData.messages.map((message) => (
            <article class="border-[1px] border-[#383848] bg-[radial-gradient(135.68%_278.42%_at_8.47%_26.88%,rgba(67,39,51,0.5)_0%,rgba(34,32,46,0.5)_100%)] p-6 w-[484px] h-[295px] flex-shrink-0">
              <div class="space-y-4">
                <img src={messagesData.icon} alt="Coin" />
                <p class="text-[#FFFFFF] leading-relaxed">
                  "{message.text}"
                </p>
                <p class="mt-4">
                  <strong class="text-[#FFFFFF] font-semibold text-lg">{message.author}</strong> - <span class="text-[#FFFFFF] text-sm">{message.date}</span>
                </p>
              </div>
            </article>
          ))}
        </div>
      </div>
    </div>
  </div>
</section>
