---
import BaseLayout from "@/layouts/BaseLayout.astro";
import Button from "@/components/Button.astro";
---

<BaseLayout title="Página no encontrada">
  <section class="min-h-screen flex items-center justify-center text-center">
    <div class="space-y-8 max-w-3xl flex flex-col items-center">
      <h1
        class="text-4xl sm:text-5xl lg:text-6xl font-bold text-white bg-clip-text text-transparent animate-neon"
      >
        404
      </h1>
      <h2
        class="text-4xl sm:text-5xl lg:text-6xl stroke-white text-transparent animate-neon"
      >
        Página no encontrada
      </h2>
      <p class="text-2xl text-white">
        La página que buscas no existe pero de igual manera puedes apoyarnos con
        una donación desde aquí.
      </p>
      <div>
        <Button variant="primary" id="button_404_donate">
          Donar a Paypal
        </Button>
        <Button id="back-to-home" variant="secondary"> Volver al inicio</Button>
      </div>
    </div>
  </section>
</BaseLayout>

<script>
  const backToHomeButton = document.getElementById("back-to-home");
  backToHomeButton?.addEventListener("click", () => {
    window.location.href = "/";
  });
  const button_404_donate = document.getElementById("button_404_donate");
  button_404_donate?.addEventListener("click", () => {
    window.location.href =
      "https://www.paypal.com/donate/?hosted_button_id=KTHKXSAPCHEMW";
  });
</script>
