---
import { Icon } from "astro-icon/components";

interface Props extends astroHTML.JSX.AnchorHTMLAttributes {
  icon: string;
}

const { icon } = Astro.props;
---

<a {...Astro.props}><Icon name={icon} /></a>
