<div class="flex items-center gap-2" data-state="signin" id="signin-button">
</div>

<script>
  const user = JSON.parse(localStorage.getItem("user") || "null");
  if (user) {
    const signinButton = document.getElementById("signin-button");
    if (signinButton) {
      signinButton.innerHTML = `
      <div class="flex items-center gap-2">
        <img
          src=${user?.user_metadata?.avatar_url || ""}
          alt=${user?.user_metadata?.full_name || ""}
          class="rounded-full w-8 h-8"
        />
        <p class="text-white">${user?.user_metadata?.full_name || ""}</p>
      </div>
      `;
    }
  }
</script>
