---
// AnimateBox.astro
---

<section class="flex flex-col gap-4">
  <div class="medium row">
    <div class="square bg-red-400 h-10 w-10"></div>
  </div>
  <div class="medium row">
    <div id="css-selector-id" class="square bg-red-400 h-10 w-10"></div>
  </div>
  <div class="medium row">
    <div class="square bg-red-400 h-10 w-10"></div>
  </div>
</section>

<script type="module" src="src/components/test"></script>
