---
export interface Props {
  title?: string;
  description?: string;
  lang?: string;
}
import "../styles/global.css";
const {
  title = "En memoria de Jaime Gutiérrez (Tyto)",
  description = "Un espacio creado con amor para recordar a nuestro querido amigo Tyto, en apoyo a su familia, compartir recuerdos y mantener vivo su legado en la comunidad",
  lang = "es",
} = Astro.props;
---

<!doctype html>
<html lang={lang} class="scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/favicon.png" />
    <title>{title}</title>

    <!-- Facebook Meta Tags -->
    <meta property="og:url" content="https://tytomemorial.com">
    <meta property="og:type" content="website">
    <meta property="og:title" content="En memoria de Jaime Gutiérrez (Tyto)">
    <meta property="og:description" content="Un espacio creado con amor para recordar a nuestro querido amigo Tyto, en apoyo a su familia, compartir recuerdos y mantener vivo su legado en la comunidad">
    <meta property="og:image" content="/memorial-open-graph.png">

    <!-- Twitter Meta Tags -->
    <meta name="twitter:card" content="summary_large_image">
    <meta property="twitter:domain" content="tytomemorial.com">
    <meta property="twitter:url" content="https://tytomemorial.com">
    <meta name="twitter:title" content="En memoria de Jaime Gutiérrez (Tyto)">
    <meta name="twitter:description" content="Un espacio creado con amor para recordar a nuestro querido amigo Tyto, en apoyo a su familia, compartir recuerdos y mantener vivo su legado en la comunidad">
    <meta name="twitter:image" content="/memorial-open-graph.png">

<!-- Meta Tags Generated via https://www.opengraph.xyz -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap"
      rel="stylesheet"
    />
    <link href="./styles/globals.css" rel="stylesheet" />
    <link
      href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Color+Emoji&display=swap"
      rel="stylesheet"
    />
    <style>
      html {
        font-family: "JetBrains Mono", monospace;
      }

      @media (prefers-reduced-motion: reduce) {
        *,
        *::before,
        *::after {
          animation-duration: 0.01ms !important;
          animation-iteration-count: 1 !important;
          transition-duration: 0.01ms !important;
          scroll-behavior: auto !important;
        }
      }
    </style>
  </head>
  <body
    class="bg-background-default text-neutral-900 antialiased overflow-x-hidden px-4 md:px-6 lg:px-12"
  >
    <slot />
  </body>
</html>
