---
import { headerData } from './data.js';
---

<header class="w-full bg-white border-b border-neutral-200">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="flex justify-center items-center py-6">
      <img 
        src={headerData.logo.src} 
        alt={headerData.logo.alt}
        width="120" 
        height="40"
        class="h-10 w-auto"
        loading="lazy"
      />
    </div>
  </div>
</header>
